@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.InnerPage>
@{
	Layout = "Master.cshtml";
}

@* the fun starts here *@

<div class="container-fluid">
	<img src="@Model.InnerBanner.Url" />
	<h1>@Model.InnerTitle</h1>
</div>
<div class="container">
	@Model.InnerContent
</div>